.top-banner {
  background-color: white;
  height: 4.5rem;
  display: flex;
  align-items: center;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.banner-logo {
  height: 3rem;
  width: auto;
}

.avatar img {
  width: 40rem;
  border-radius: 0;

  @media only screen and (max-width: 768px) {
    width: 34rem;
  }
}

.content {
  line-height: 1.35;  // Default is usually 1.5-1.6
}

.about-content {
  text-align: justify;
  max-width: 60rem;
  margin: 2rem auto;
}

.person-card {
  display: flex;
  gap: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-bottom: 1px solid #eee;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    gap: 1.5rem;
  }
}

.person-left {
  flex-shrink: 0;
  text-align: center;
  width: 18rem;
}

.person-photo {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
}

.person-name {
  margin: 1rem 0 0.5rem;
  font-size: 1.8rem;
}

.person-social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;

  li a {
    color: inherit;
    font-size: 1.6rem;
    opacity: 0.7;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }
}

.person-right {
  flex: 1;
  text-align: justify;

  p {
    margin: 0 0 1rem;
  }
}

.list .alumni-list ul {
  list-style: disc !important;
  padding-left: 2rem !important;
}

// Link highlight overrides (hover/click/visited)
// Requested highlight color: rgb(182,66,38)
$link-highlight: rgb(182, 66, 38);
$link-base-light: #000;

// Base (site-wide) link interaction/visited states
a {
  // Default (unhovered) link color
  color: $link-base-light;

  &:hover,
  &:focus,
  &:active {
    color: $link-highlight;
  }

  &:visited {
    color: $link-highlight;
  }
}

// Theme-specific higher-specificity selectors that otherwise override the base rules
.navigation a,
.footer a,
.float-container a,
.person-social li a,
.content .post .post-meta .tags .tag a,
.taxonomy .taxonomy-element a,
h1 .heading-link,
h2 .heading-link,
h3 .heading-link,
h4 .heading-link,
h5 .heading-link,
h6 .heading-link,
.navigation a:hover,
.navigation a:focus,
.content .list ul li .title:hover,
.content .list ul li .title:focus,
.centered .about ul li a:hover,
.centered .about ul li a:focus,
.content .post .post-meta .tags .tag a:active,
.taxonomy .taxonomy-element a:active,
.float-container a:hover,
.float-container a:focus {
  color: $link-base-light;
}

// Keep highlight on interaction states (and specific :active states)
.navigation a:hover,
.navigation a:focus,
.content .list ul li .title:hover,
.content .list ul li .title:focus,
.centered .about ul li a:hover,
.centered .about ul li a:focus,
.float-container a:hover,
.float-container a:focus,
.content .post .post-meta .tags .tag a:active,
.taxonomy .taxonomy-element a:active {
  color: $link-highlight;
}

// Preserve theme behavior for floating button hover on small screens
@media only screen and (max-width: 768px) {
  .float-container a:hover,
  .float-container a:focus {
    color: inherit;
    opacity: 0.5;
  }
}

// Dark scheme (explicit)
body.colorscheme-dark {
  a {
    // In dark mode, avoid black-on-dark; also remove theme’s blue by inheriting text color.
    color: inherit;

    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: $link-highlight;
    }
  }

  .navigation a,
  .footer a,
  .float-container a,
  .person-social li a,
  .content .post .post-meta .tags .tag a,
  .taxonomy .taxonomy-element a,
  h1 .heading-link,
  h2 .heading-link,
  h3 .heading-link,
  h4 .heading-link,
  h5 .heading-link,
  h6 .heading-link,
  .navigation a:hover,
  .navigation a:focus,
  .content .list ul li .title:hover,
  .content .list ul li .title:focus,
  .centered .about ul li a:hover,
  .centered .about ul li a:focus,
  .content .post .post-meta .tags .tag a:active,
  .taxonomy .taxonomy-element a:active,
  .float-container a:hover,
  .float-container a:focus {
    color: inherit;
  }

  .navigation a:hover,
  .navigation a:focus,
  .content .list ul li .title:hover,
  .content .list ul li .title:focus,
  .centered .about ul li a:hover,
  .centered .about ul li a:focus,
  .float-container a:hover,
  .float-container a:focus,
  .content .post .post-meta .tags .tag a:active,
  .taxonomy .taxonomy-element a:active {
    color: $link-highlight;
  }
}

// Auto scheme (dark via media query)
@media (prefers-color-scheme: dark) {
  body.colorscheme-auto {
    a {
      // In dark mode, avoid black-on-dark; also remove theme’s blue by inheriting text color.
      color: inherit;

      &:hover,
      &:focus,
      &:active,
      &:visited {
        color: $link-highlight;
      }
    }

    .navigation a,
    .footer a,
    .float-container a,
    .person-social li a,
    .content .post .post-meta .tags .tag a,
    .taxonomy .taxonomy-element a,
    h1 .heading-link,
    h2 .heading-link,
    h3 .heading-link,
    h4 .heading-link,
    h5 .heading-link,
    h6 .heading-link,
    .navigation a:hover,
    .navigation a:focus,
    .content .list ul li .title:hover,
    .content .list ul li .title:focus,
    .centered .about ul li a:hover,
    .centered .about ul li a:focus,
    .content .post .post-meta .tags .tag a:active,
    .taxonomy .taxonomy-element a:active,
    .float-container a:hover,
    .float-container a:focus {
      color: inherit;
    }

    .navigation a:hover,
    .navigation a:focus,
    .content .list ul li .title:hover,
    .content .list ul li .title:focus,
    .centered .about ul li a:hover,
    .centered .about ul li a:focus,
    .float-container a:hover,
    .float-container a:focus,
    .content .post .post-meta .tags .tag a:active,
    .taxonomy .taxonomy-element a:active {
      color: $link-highlight;
    }
  }
}

