{{ define "content" }}
<section class="container list">
  <header>
    <h1 class="title">{{ .Title }}</h1>
  </header>
  {{ .Content }}

  {{ $people := .Pages }}

  {{ $pi := where $people "Params.role" "pi" }}
  {{ if $pi }}
  <h2 id="principal-investigator">Principal Investigator</h2>
  {{ range $pi }}
  {{ partial "people/card.html" . }}
  {{ end }}
  {{ end }}

  {{ $senior := where $people "Params.role" "senior" }}
  {{ if $senior }}
  <h2>Senior &amp; Postdoctoral Researchers</h2>
  {{ range $senior }}
  {{ partial "people/card.html" . }}
  {{ end }}
  {{ end }}

  {{ $students := where $people "Params.role" "student" }}
  {{ if $students }}
  <h2>Students</h2>
  {{ range $students }}
  {{ partial "people/card.html" . }}
  {{ end }}
  {{ end }}

  {{ $interns := .GetPage "interns" }}
  {{ if $interns }}
  <h2>{{ $interns.Title }}</h2>
  <div class="alumni-list">
    {{ $interns.Content }}
  </div>
  {{ end }}

  {{ $alumni := .GetPage "alumni" }}
  {{ if $alumni }}
  <h2>{{ $alumni.Title }}</h2>
  <div class="alumni-list">
    {{ $alumni.Content }}
  </div>
  {{ end }}

</section>
{{ end }}
