{{ define "content" }}
<section class="container list">
  <header>
    <h1 class="title">{{ .Title }}</h1>
  </header>
  {{ .Content }}

  {{ $people := .Pages }}

  {{ $pi := where $people "Params.role" "pi" }}
  {{ if $pi }}
  <h2>Principal Investigator</h2>
  {{ range $pi }}
  {{ partial "people/card.html" . }}
  {{ end }}
  {{ end }}

  {{ $senior := where $people "Params.role" "senior" }}
  {{ if $senior }}
  <h2>Senior &amp; Postdoctoral Researcher</h2>
  {{ range $senior }}
  {{ partial "people/card.html" . }}
  {{ end }}
  {{ end }}

  {{ $students := where $people "Params.role" "student" }}
  {{ if $students }}
  <h2>Students</h2>
  {{ range $students }}
  {{ partial "people/card.html" . }}
  {{ end }}
  {{ end }}

  {{ $alumni := where $people "Params.role" "alumni" }}
  {{ if $alumni }}
  <h2>Alumni</h2>
  {{ range $alumni }}
  {{ partial "people/card.html" . }}
  {{ end }}
  {{ end }}

</section>
{{ end }}
